@import "tailwindcss";
.leaflet-container {
  width: 100%;
  height: 100%;
  background-color: #f8fafc; /* Tailwind slate-50 */
}

.custom-popup .leaflet-popup-content-wrapper {
  border-radius: 12px;
  padding: 4px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1);
}